/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.portfolio-item {
	-webkit-perspective: 500;
}
.portfolio-item .front {
	position: absolute;
	z-index: 10;
	transition: all 2s ease-in-out;
	-webkit-backface-visibility: hidden;
}
.portfolio-item .back {
	transition: all 2s ease-in-out;
	position: relative;
	-webkit-backface-visibility: hidden;
	transform: rotateY(-180deg);
}

.portfolio-item:hover .front {
	z-index: 0;
	transform: rotateY(180deg);
}
.portfolio-item:hover .back {
	transform: rotateY(0deg);
}